# PostgreSQL
POSTGRES_USER=example_user
POSTGRES_PASSWORD=example_pass
POSTGRES_DB=example_db

# Redis
REDIS_PASSWORD=example_redis_pass

# MinIO
MINIO_ROOT_USER=example_minio
MINIO_ROOT_PASSWORD=example_minio_pass

# Keycloak
KEYCLOAK_ADMIN=example_admin
KEYCLOAK_ADMIN_PASSWORD=example_admin_pass

# Grafana
GF_SECURITY_ADMIN_USER=example_grafana
GF_SECURITY_ADMIN_PASSWORD=example_grafana_pass
